    *{
        margin: 0;
        padding: 0;
    }
    body{
        font-family: 'Arial';
    }

    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    .container{
        margin: 0 auto;
        width: 1300px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        border-bottom: lightgrey solid 1px;
    }
    .navbar_items{
        padding: 10px;
        margin-left: 10px;
    }
    .header-navbar{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin: 10px;
    }
    .header-navbar a{
        color: black;
    }
    .header-validation{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .validation_items{
        margin: 10px;
        padding: 10px; 
        border: slategray solid 1px ;
        border-radius: 5px;     
    }
    .validation_items a{
        color: slategray;
    }
    .validation_items:hover{
        color: white;
        background-color: slategray;
    }
    .validation_items a:hover{
        color: white;
    }
    .footer-grid{
        margin-top: 50px;
        border-top: lightgray solid 1px;
        padding-top:50px;
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
    }
    .social-media_links{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .column_1_items{
        margin-bottom: 10px;
    }
    .footer-abouthexlet li{
        margin: 15px;
    }
    .footer-abouthexlet a,span{
        color: darkgrey;

    } 
    .fab{
        color: darkgrey;
    }
    .salute{
        display: grid;
        grid-template-columns: 700px 700px;
    }
    .salute-column span{
        color: rgb(41, 110, 238);
    }
    .salute-column p{
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 30px;

    }
    .salute-column h1{
        margin-top: 100px;
        width: 500px;
        font-size: 40px;
    }
    .salute-column a{
        padding: 15px 20px;
        background-color:rgb(41, 110, 238);
        font-size: 20px;
        color: white;
        border-radius: 5px;
    }
    .salute-column a:hover{
        background-color: rgb(25, 93, 219);
    }
    .employment{
        background-color: rgb(20, 22, 37);
        color: white;
        display: grid;
        grid-template-columns: 700px 700px;
        font-size: large;
    }
    .employment b{
        font-size: 30px;
    }
    .employment p{
        margin: 15px;
    }
    .logos{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        
    }
    .logos img{
        width: 150px;
       padding: 20px;
       margin: 20px;
    }